<div class="col-lg-3 col-sm-6">
    <div class="card art-card">
        <img class="card-img-top art-card-img" src="{{url}}" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <button type="button" class="btn btn-primary btn-sm">Up Vote <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-secondary btn-sm">Down Vote <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
            <div class="score">0</div>
        </div>
    </div>
</div>
