        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img class="card-img-top art-card" src="{{url}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>